---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Portrait from '../components/Portrait.astro';
import Footer from '../components/Footer.astro';
const gmm_screenshot_1_path = '../../public/gmm_screenshot_1.jpg';
const stark1024 = '../../public/stark1024.jpg';
import pdf from '../../public/ammartahacv.pdf';
---

<Layout title="Welcome to My Website.">
	<div class="custom-svg-bg">
		<main>			
			<h1 class="pt-10 custom-text-gradient">Ammar Taha: Web Dev</h1>
			<h1 class="pt-10">Welcome to <span class="custom-text-gradient">My Personal Website</span></h1>
			<div class="flex justify between pb-16">
				<Portrait 
						image='../../public/stark1024.jpg'
					/>
					<p class="flex-end custom-intro">
						<strong>Contact details:</strong>
						<br>a.taha5200@gmail.com 
						<br> delaware
						<br>+41784016950
						<br>Zürcherstrasse 57, Dietikon, Zürich 
					</p>
			</div>
			<p class="custom-intro">
				Hi, I'm <strong>Ammar Taha</strong>, a recent CS graduate and web dev, listed below are some of my projects and CV. <br>
				Skills: Html, CSS/tailwindcss, JS/TS, React, Nextjs, Astro 
			</p>
			
			<ul role="list" class="custom-link-card-grid">
				<Card
					href="https://github.com/stark5200/"
					title="Github Profile"
					body="My Personal Github Profile."
					image='../../public/github_profile_1.jpg'
				/>
				<Card
					href="https://gmm-ahmed.vercel.app/"
					title="Green Marmot Website"
					body="Custom website for Green Marmot Capsule hotel based in Zürich."
					image='../../public/gmm_screenshot_1.jpg'
				/>
				<Card
					href={pdf}
					title="My CV"
					body="Here is a look at my cv."
					image='../../public/cv_1.jpg'
				/>
				<Card
					href="https://github.com/stark5200/customPortfolio/"
					title="This Website "
					body="Here you can find the repo for this website made with Astro."
					image='../../public/customPortfolio_screenshot_1.jpg'
				/>
			</ul>
		</main>
		<Footer />
	</div>
</Layout>

