---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
const gmm_screenshot_1_path = '../../public/gmm_screenshot_1.jpg'
import stark1024 from '../../public/stark1024.jpg'
import pdf from '../../public/ammartahacv.pdf'
---

<Layout title="Welcome to Astro.">
	<main>
		
		<h1 class="pt-10 text-gradient">Ammar Taha: Web Dev</h1>
		<h1 class="pt-10">Welcome to <span class="text-gradient">My Personal Website</span></h1>
		<p class="instructions">
			Hi, I'm Ammar Taha, a recent CS graduate and webd dev, listed below are some of my projects and CV.<br />
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/stark5200/"
				title="Github Profile"
				body="My Personal Github Profile."
				image='../../public/github_profile_1.jpg'
			/>
			<Card
				href="https://gmm-ahmed.vercel.app/"
				title="Green Marmot Website"
				body="Custom website for Green Marmot Capsule hotel based in Zürich."
				image='../../public/gmm_screenshot_1.jpg'
			/>
			<Card
				href={pdf}
				title="My CV"
				body="Here is a look at my cv."
				image='../../public/cv_1.jpg'
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
				image=gmm_screenshot_1
			/>
		</ul>
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
