---
import '../globals.css'

interface Props {
	title: string;
	body: string;
	href: string;
	image: string;
}

const { title, body, href, image } = Astro.props;
---

<div class="custom-link-card">
	<a href={href}>
		<img src={image} alt="card-image"/>
		<h2>
			{title}
			&rarr;
		</h2>
		<p>
			{body}
		</p>
	</a>
</div>

