---
import '../globals.css'

interface Props {
	tel: string;
	email: string;
	address: string;
}

const { tel, email, address } = Astro.props;
---
<div class="custom-intro custom-contact container">
	<p>
    <strong>Contact details:</strong>
    <br>
    <br>&#x2022; &emsp;<a href={"tel:" + tel}>{tel}</a>
    <br>&#x2022; &emsp;<a href={"email:" + email}>{email}</a>
    <br>&#x2022; &emsp;{address}
  </p>
</div>

