---
import '../globals.css'

interface Props {
	image: string;
}

const { image } = Astro.props;
---

<div class="custom-portrait">
		<img class="custom-portrait-img" src={image} alt="portrait-image"/>
</div>

